:root {
    --fastrack-tile-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #202b38;
    color: white;

    font-family: monospace;
    margin: 0;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.cursor {
    position: absolute;
    width: var(--fastrack-tile-size);
    height: var(--fastrack-tile-size);
    background-color: rgba(255, 255, 255, 0.7);
}

.piece {
    width: var(--fastrack-tile-size);
    height: var(--fastrack-tile-size);
    position: absolute;
    /* background-color: red; */

    text-align: center;
    font-size: var(--fastrack-tile-size);
}
